:root {
  --primary-color: #495e57;
  --light-primary-color: #a4afab;
  --dark-primary-color: #3a4b46;
  --secondary-color: #f4ce14;
  --light-secondary-color: #f7dd5b;
  --dark-secondary-color: #ab900e;
  --tertiary-color: #ee9972;
  --dark-tertiary-color: #be7a5b;
  --quaternary-color: #fbdabb;
  --light-quaternary-color: #fde9d6;
  --first-dark-gray: #333;
  --second-dark-gray: #474747;
  --third-dark-gray: #292929;
  --first-light-gray: #edefee;
  --second-light-gray: #f1f2f1;
  --third-light-gray: #d5d7d6;
  --dark-green-hover: #00704a;
}


body {
  font-family: Karla, serif;
  background-color: var(--second-light-gray);

}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  font-size: 25px;
  background-color: var(--light-primary-color);
}

.logo img {
  height: 50px;
}

.Nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.Nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.Nav a:hover {
  color: var(--dark-green-hover);
}

.nav-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #00704a;
}

.Nav ul li.active a,
.Nav ul li.active .nav-button {
  color: #00704a;
  font-weight: bold;
}

.footer {
  color: white;
  margin-top: 40px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  background-color: var(--light-primary-color);
  padding: 40px 20px 0px;
  justify-items: center
}

.footer-heading,
.footer-heading-descr {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f4ce14;
}

.footer-heading-descr {
  font-size: 20px;
  font-weight: bold;
}

.footer-logo {
  width: 200px;
}

.footer-text {
  font-size: 16px;
  margin: 4px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 0;
  
}

.footer-links li {
  margin: 6px 0;
  
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f4ce14;
}

.footer-bottom {
  border-top: 1px solid #f4ce14;
  padding-top: 8px;
  font-size: 14px;
  text-align: center;
}

.footer-bottom a {
  color: #323cff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin: 0;
  color: #292929;
}